.dark{
   background-color: #1c2025;
   color:white;
   
}
.light{
  background-color: #f2f2f2;
  color: black;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-switch:not(.ant-switch-disabled) {
  background: rgba(0, 0, 0, 0.45);
}

.ant-drawer-header{
 visibility: hidden;
}

li{
  cursor: pointer;
}
body{
  margin:0;
  padding: 0;
}

.ant-modal-wrap{
   backdrop-filter: blur(2px);
}

.ant-modal-content{
   position: fixed;
   top:-40px;
   right:-35vw;
   width: 200px;
  
   background-color: #f2f2f2 !important;
   border-radius: 20px !important;
  
  
}

.ant-modal-title{
  visibility: hidden;
  background-color: transparent !important;
  
}
.ant-modal-header{
  background-color: transparent !important;
}

.ant-modal-footer{
  visibility: hidden;
}

.ant-switch-inner{
  background-color: darkgray;
}