@tailwind base;
@tailwind components;
@tailwind utilities;
.infinite-scroll-wrapper {
    width: 200%;
    display: flex;
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @media (prefers-reduced-motion) {
    .animate-scroll {
      animation: none;
    }
  }